<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BillapongDbContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=Billapong;Integrated Security=True;"/>
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="defaultBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Billapong.Core.Server.Services.MapEditorService" behaviorConfiguration="defaultBehavior">
        <endpoint address="net.tcp://localhost:4711/mapeditor" binding="netTcpBinding" bindingConfiguration="defaultBinding" contract="Billapong.Contract.Service.IMapEditorService" />
      </service>
      <service name="Billapong.Core.Server.Services.AuthenticationService" behaviorConfiguration="defaultBehavior">
        <endpoint address="net.tcp://localhost:4711/authentication" binding="netTcpBinding" bindingConfiguration="defaultBinding" contract="Billapong.Contract.Service.IAuthenticationService" />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:4711/mapeditor"
             binding="netTcpBinding"
             bindingConfiguration="defaultBinding"
             contract="Billapong.Contract.Service.IMapEditorService" />
      <endpoint address="net.tcp://localhost:4711/authentication"
             binding="netTcpBinding"
             bindingConfiguration="defaultBinding"
             contract="Billapong.Contract.Service.IAuthenticationService" />
    </client>
  </system.serviceModel>
</configuration>