@{
    ViewBag.Title = @Global.GamesTitle;
}

<div id="games">
    <div class="loading">
        <img src="~/Images/spinner.gif" />
    </div>

    <div class="result">

    </div>

    <div class="error">
        @Html.Raw(Global.ErrorOccurred)
    </div>
</div>

