<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Billapong</title>
</head>
<body>

    <div class="logo">
        <a href="~/">
            <pre>
                 ____ ___ _     _        _    ____   ___  _   _  ____
                | __ )_ _| |   | |      / \  |  _ \ / _ \| \ | |/ ___|
                |  _ \| || |   | |     / _ \ | |_) | | | |  \| | |  _
                | |_) | || |___| |___ / ___ \|  __/| |_| | |\  | |_| |
                |____/___|_____|_____/_/   \_\_|    \___/|_| \_|\____|
            </pre>
        </a>
    </div>

    <div class="wrapper">
        <div class="navigation">

        </div>

        <div class="content">
            <h1>@ViewBag.Title</h1>

            @RenderBody()     
        </div>
    </div>

</body>
</html>
